* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4rem;
  color: #083671;
}
h2 {
  font-size: 2.6rem;
  color: #083671;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
}

.main-nav {
  margin-top: 40px;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: end;
  gap: 40px;
}

.hover-links {
  text-decoration: none;
  opacity: 50%;
  font-size: 18px;
  transition: 0.2s ease-out;
  color: #000000;
}

.hover-links:hover {
  color: #000000;
  opacity: 100%;
}

.primary-button {
  background-color: #54c1ec;
  color: white !important;
  opacity: 100% !important;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 8px 10px;
  box-shadow: 0 0 2px;
  transition: 0.2s ease-out;
}

.primary-button:hover {
  background-color: #0e99d4;
}

/*  HEADER  */

.header-section {
  justify-content: space-between;
  gap: 50px;
}

.header-left {
  align-items: start;
}

.get-started {
  background-color: #54c1ec;
  color: white !important;
  opacity: 100% !important;
  border: none;
  border-radius: 50px;
  font-stretch: expanded;
  font-weight: 500;
  padding: 12px 20px;
  box-shadow: 0 0 2px;
  transition: 0.2s ease-out;
}

.get-started:hover {
  background-color: #0e99d4;
}

.header-right {
  margin-top: 50px;
  margin-left: 20px;
}
.header-right img {
  width: 600px;
}

.animated-text {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: #083671;
  font-weight: 700;
  min-width: 280px;
  margin-bottom: 20px;
}

.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "Youtuber";
  color: #083671;
  animation: words 20s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #ffffff;
  border-left: 2px solid #083671;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ffffff;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Chat";
  }
  21%,
  40% {
    content: "Connect";
  }
  41%,
  60% {
    content: "Talk";
  }
  61%,
  80% {
    content: "Share";
  }
  81%,
  100% {
    content: "Work";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
