@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container-fluid {
    height: 100vh;
}
.row-up {
    height: 10vh;
}
.row-middle {
    height: 80vh;
}
.row-down {
    height: 10vh;
}
h2 {
    font-size: 2rem;
    color: #083671;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 16px 0px 0px 8px;
}
h3 {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px 0px 8px;
}
h4 {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    color: #202124;
    /* color: #000000; */
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;

}
p {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: #5f6368;
    padding: 0px;
}
.user-search {
    width: 100%;
    height: 30px;
    background: #ffffff;
    margin: 10px 0px 20px 0px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.user-search input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #6d747a;
}
.user-search img {
    width: 40px;
    cursor: pointer;
    border: none;
}
.header-colour {
    background-color: #edf4fc;
}
.user-box {
    position: relative;
    overflow: hidden;
}
.user-list {
    height: 70px;
    margin: 8px 1px 1px 0px;
    padding: 12px 0px 0px 12px;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user-list:hover{
    background-color: #d7e9fd;
    border: 1px solid #96d6f8;
}
.status {
    font-size: small;
}
.chat-box {
    position: relative;
    height: calc(100%);
    overflow-y: auto;
    background: #E7E7E7;
}
.message {
    background: #fff;
    margin: 10px 0px 20px 0px;
    padding: 0px 0px 8px 10px;
    max-width: 60%;
    border-radius: 0px 10px 10px 10px;
}
.message::marker {
    color: #E7E7E7;
}
.message img {
    max-width:45px;
    max-height:45px; 
    margin-top:-25px;
    margin-left:-55px;
    float:left;
}
.input-message {
    width: 100%;
    background: #edf4fc;
    display: flex;
    align-items: center;
}
#message-form {
    width: 100%;
    background: #edf4fc;
    display: flex;
    align-items: center;
}
.input-message input {
    padding-left: 16px;
    background: #ffffff;
    border: none;
    width: 1000px;
    outline: none;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    color: #53585c;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 16px;
}
#message-box {
    display: inline-block;
}
#message-btn {
    flex: right;
    width: 45px;
    height: 30px;
    cursor: pointer;
    background-color: #edf4fc;
    margin: 0px;
}
