@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container-fluid {
  height: 100vh;
}
.row-up {
  height: 10vh;
}
.row-middle {
  height: 80vh;
}
.row-down {
  height: 10vh;
}
.header-colour {
  background-color: #edf4fc;
}
h2 {
  font-size: 2rem;
  color: #083671;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 18px 0px 0px 12px;
}
h3 {
  font-size: 1.5rem;
  opacity: 80%;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 20px 0px 0px 8px;
}
h4 {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  color: #202124;
  /* color: #000000; */
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
}
p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  color: #5f6368;
  padding: 0px;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
.user-search {
  width: 100%;
  height: 30px;
  background: #ffffff;
  margin: 10px 0px 20px 0px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.user-search input {
  flex: 5;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #6d747a;
}
.user-search img {
  width: 40px;
  border: none;
}
.header {
  position: relative;
}
#signOutButton {
  position: absolute;
  right: 3.5%;
  top: 30%;
  width: 80px;
  height: 30px;
  background-color: #edf4fc;
  opacity: 60%;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  size: 16px;
  font-weight: 500;
}
#signOutButton:hover {
  opacity: 100%;
}
.header img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1.5%;
  top: 36%;
  opacity: 60%;
}
.header img:hover {
  opacity: 100%;
}
.user-box {
  position: relative;
  overflow: hidden;
}
.onlineUsername {
  height: 70px;
  margin: 8px 1px px 0px;
  padding: 10px 0px 0px 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: none;
}
.onlineUsername b {
  font-size: 18px;
  color: #1a1a1a;
  font-weight: 500;
  font-family: "Roboto", "sans-serif";
}
.onlineUsername ul {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", "sans-serif";
  color: #6e6f70;
  opacity: 0%;
  transition: 0.2s ease-out;
}
.onlineUsername ul:hover {
  opacity: 100%;
}
.onlineUsername:hover {
  background-color: #d7e9fd;
  border: 1px solid #96d6f8;
}
.chat-box {
  position: relative;
  height: calc(100%);
  overflow-y: auto;
  background: #efeeee;
}
.message {
  margin: 40px 8px 20px 34px;
  padding: 5px 10px 10px 10px;
  max-width: 50%;
  border-radius: 0px 10px 10px 10px;
  overflow-wrap: break-word;
}
.message b {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.message::marker {
  color: #e7e7e7;
}
.message img {
  max-width: 35px;
  max-height: 35px;
  margin: -15px 0px 0px -45px;
  float: left;
  border-radius: 50%;
}
#message-form {
  width: 100%;
  background: #edf4fc;
  display: flex;
  align-items: center;
}
.input-message {
  width: 100%;
  background: #edf4fc;
  display: flex;
  align-items: center;
}
.input-message input {
  border: none;
  outline: none;
  width: 1000px;
  height: 44px;
  font-size: 18px;
  font-weight: 500;
  color: #53585c;
  border-radius: 8px;
  margin: 5px 0px 8px 16px;
  padding-left: 16px;
}
#message-box {
  display: inline-block;
}
#message-btn {
  flex: right;
  width: 45px;
  height: 30px;
  cursor: pointer;
  background-color: #edf4fc;
  margin: 0px;
}
.message.sent {
  background-color: #0d0b0b;
  color: red;
}

.message.receive {
  background-color: #ffffff;
  color: #3c3c3c;
  font-weight: 100;
  font-size: 16px;
  font-family: "Open San", sans-serif;
  font-weight: 500;
}
