/* .red {
  border: 1px solid red;
  height: 70vh;
} */
.ass-image img {
  justify-content: center;
  width: 500px;
}
.aaq-images img {
  margin-left: 50px;
  width: 460px;
}
.mru-image img {
  margin-top: 20px;
  justify-content: center;
  width: 500px;
}
