@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

.ass-image img {
  width: 300px;
}

.aaq-images img {
  width: 300px;
}

.mru-image img {
  width: 300px;
}

.heading-logo {
  font-size: 2.6rem;
  color: #083671;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.heading-logo a {
  text-decoration: none;
  color: #083671;
}

.heading-logo a:hover {
  color: #083671;
}

.team-image img {
  width: 100%;
  height: auto;
}

#teamTitle {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

.text-team {
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  margin-bottom: 5%;
}

#title-teamMembers {
  margin-bottom: 6%;
}

.row {
  margin-bottom: 6%;
}

.note {
  font-size: 12px;
}

@media (max-width:700px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    position: absolute;
    right: 5%;
  }

  .team-image {
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
  }

  .image {
    text-align: center;
    width: 200px;
    height: auto;
    margin: 20px 0px 0px 0px;
    padding: 0%;
  }
}