@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


/* .red {
  border: 1px solid red;
  height: 70vh;
} */
.ass-image img {
  justify-content: center;
  width: 500px;
}
.aaq-images img {
  margin-left: 50px;
  width: 460px;
}
.mru-image img {
  margin-top: 20px;
  justify-content: center;
  width: 500px;
}

.heading-logo {
  font-size: 2.6rem;
  color: #083671;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.heading-logo a{
  text-decoration: none;
  color: #083671;
}

.heading-logo a:hover{
  color: #083671;
}

.team-image img{
  width: 1000px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#teamTitle{
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

.text-team{
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  margin-bottom: 5%;
}

#title-teamMembers{
  margin-bottom: 6%;
}

.row{
  margin-bottom: 6%;
}